.deps/
.libs/
m4/

*.o
*.lo
*.log
*.trs
*.la

Makefile
Makefile.in

aclocal.m4
autom4te.cache/
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver

tests/internal
tests/misc
tests/parse
tests/unparse
